/* wait to CSS */

.signupform{
    display:flex;
    color:black;
    flex-direction: column;
    align-items:center;
    gap:30px;
    text-align:center;
    line-height: 26px;
}


.signupform button {
      background-color: pink;
      font-weight: 600;
      color: rgba(255,255,255,1);
      border-radius: 5px;
      width: 100px;
}

  .signupform button:hover {
    background-color: lightpink;
}


.signupform input {
    display: block;
    border-radius: 5px;
    color: black;
    width: 200px;
  }
